.ten {
    color: red ;
    font-family: sans-serif;
    font-size: 30px;
}
.segundo {
    color: cornflowerblue ;
    font-family: sans-serif;
    font-size: 20px;
}
.ten {
    background-color: aquamarine;
}