<footer>
    <div class="footer-contact">
        <h4>CONTACTO</h4>
        <p>Calle: Paseo Rivera 152</p>
        <p>Ciudad: Santa Maria</p>
        <p>Codigo Postal: 11900</p>
        <p>Telefono: 251-245-432</p>
        <p>Movil: 2341-6534-2234</p>
    </div>

    <!-- En esta seccion Cargamos iconos de FontAwesome -->
    <div class="footer-social">
        <h4>BUSCANOS</h4>
        <div class="footer-icons">
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="mailto: leandrojuan88@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
    </div>

    <div class="footer-legal">
        <p>El mundo de los Gatitos. Todos los derechos reservados</p>
        <p>Leandro Juan</p>
        <a href="/login">login</a>
    </div>
</footer>